/* RESET DEFAULT STYLES */

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    /* These are bolded by default, but we don't want that */
    font-weight: normal;
}

/* VARIABLES */

body {
    --accent-color: #777;
}

/* MAIN STYLES */

body {
    font-family:
        'San Francisco', /* macOS system font */
        'Helvetica', /* OS X system font */
        'Segoe UI', /* Windows sytem font */
        sans-serif;
    background: #f8f8f8;
}

.alphabet-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding: 6px 5%;
    text-transform: uppercase;
}

.alphabet-bar a {
    text-decoration: none;
    color: #333;
}

.alphabet-bar .letter {
    position: relative;
    padding: 6px 8px 2px 8px;
}

.alphabet-bar .letter::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity .15s, transform .15s;
}

.alphabet-bar .letter:hover {
    color: var(--accent-color);
}

.alphabet-bar .letter:hover::before {
    opacity: 1;
    transform: scale(1);
}

.hero {
    overflow: hidden;
    position: relative;
    height: 300px;
    margin-bottom: -156px;
}

.hero::before,
.hero::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.hero::before {
    background: url('../img/red.png');
    background-size: cover;
    background-position: center center;
    transform: scale(1.1); /* removes white fringes from blur */
}

.hero::after {
    background: black;
    opacity: .6;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 8px 8%;
}

header .logo {
    height: 100%;
}

header .logo img {
    height: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

header .searchbar {
    width: 100%;
    margin-left: 24px;
    margin-right: 16px;
    flex-shrink: 1;
    background: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px;
    overflow: hidden;
}

header .searchbar input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 1em;
    padding: 6px 8px;
    background: #e9e9e9;
}

header .searchbar input:focus {
    outline: 0;
    background: #fff;
}

header .searchbar .search-label,
header .searchbar .searchButton {
    background: var(--accent-color);
    color: #fff;
    height: 100%;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 1em;
    padding: 0 8px;
    border: 0;
    text-transform: uppercase;
}

header .searchbar .searchButton {
    cursor: pointer;
}

header .searchbar .searchButton:hover {
    opacity: .8;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    margin-left: 16px;
}

header nav a:hover {
    text-decoration: underline;
}

article {
    width: 76%;
    max-width: 920px;
    margin: 0 auto;
}

.title-area {
    color: #fff;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
    z-index: 10;
    margin-bottom: 12px;
}

.title-area .album-art {
    height: 230px;
    width: 230px;
    margin-right: 24px;
    overflow: hidden;
    flex-shrink: 0;
}

.title-area .album-art img {
    height: 100%;
    width: 100%;
}

.title-area h1,
.title-area p {
    margin: 0;
}

.title-area h1 {
    font-size: 3em;
    margin-top: 40px;
    font-weight: bold;
}

.title-area .sub {
    margin-top: 6px;
    font-size: 1.5em;
}

.title-area .release {
    font-size: 1.3em;
    margin-top: 44px;
    color: #333;
}

.menu-bar {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 28px;
}

.menu-bar .item {
    list-style: none;
    display: block;
    box-sizing: border-box;
    padding: 8px 12px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

.menu-bar .item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    /* background-color: var(--accent-color); */
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform .3s ease-out;
}

.menu-bar .item.active,
.menu-bar .item:hover {
    color: var(--accent-color);
}

.menu-bar .item.active::after,
.menu-bar .item:hover::after {
    transform: scaleX(1);
}

.lyrics {
    line-height: 1.4em;
}

.authors {
    margin: 42px 0;
    font-style: italic;
    color: #777;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
}

footer .name {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--accent-color);
}

footer .tagline,
footer .copyright {
    color: #777;
}

footer .tagline {
    font-style: italic;
}

@media only screen and (max-width: 840px) {
    article {
        width: 90%;
    }
}

@media only screen and (max-width: 700px) {
    .alphabet-bar {
        display: none;
    }
    .search-label {
        display: none;
    }
    .title-area .album-art {
        height: 180px;
        width: 180px;
        margin-top: 30px;
    }
    footer .tagline {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .title-area {
        flex-direction: column;
    }
    .title-area h1,
    .title-area p {
        color: #333;
    }
    .title-area .release {
        margin-top: 16px;
    }
    header nav {
        display: none;
    }
}
